SERVER_PORT=3001  # Port for the server to listen on
APP_NAME=ms-frauds-bs  # Application name for logging and identification

#Schema Registry configuration
SCHEMA_REGISTRY_URL=http://localhost:8081  # Schema Registry URL
KAFKA_TRANSACTION_VALIDATION_SUBJECT=transaction-validation-request-schema  # Schema subject for transaction validation requests

#Kafka configuration
KAFKA_BROKER=localhost:9092  # Kafka broker address
KAFKA_TRANSACTION_VALIDATION_REQUEST_TOPIC=transaction-validation-request  # Kafka topic for transactions
KAFKA_TRANSACTION_VALIDATION_RESPONSE_TOPIC=transaction-validation-response  # Kafka topic for transactions
#Consumer group ID for the frauds service
KAFKA_FRAUDS_CONSUMER_GROUP_ID=frauds-service-group

# Unleash configuration
UNLEASH_URL=http://localhost:4242/api/  # Unleash server URL
UNLEASH_APP_NAME=frauds-service  # Unleash application name
UNLEASH_API_KEY=user:aef6db92019174048c2d7ea2b51ad3b3faf962fa9f95003503bd15e7  # Unleash API key (admin:unleash4all > username:password)